#computer
     { background-color : aqua;}

#CEsw
    { background-color: blue;}
#CElr
    { background-color: darkmagenta;}
#math
    { background-color: tomato;}
#writing
    { background-color: khaki;}
#cpro
    { background-color: olivedrab;}
#cul
    { background-color: palevioletred;}

